@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir='rtl'] body {
  font-family: var(--font-tajawal), system-ui, sans-serif;
}
html[dir='ltr'] body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

body {
  background-color: #fafaf8;
  color: #14171f;
}
